body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #bbf1f0;
  }
  
  header {
    background-color: #333;
    color: #1ba4a5;
    font-family: "Candara Light";
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  nav {
    margin-top: 0.5rem;
  }
  
  nav a {
    color: #fff;
    margin: 0 1rem;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  #auth {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
  }
  
  #auth input {
    margin-right: 0.5rem;
    padding: 0.5rem;
  }
  
  #auth button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  #auth button:hover {
    background-color: #0056b3;
  }
  
  #search {
    margin-top: 1rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    max-width: 300px;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  #products, #cart {
    background: #fff;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    width: 100%;
    max-width: 600px;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  .product h3 {
    margin-top: 0;
  }
  
  .product button {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .product button:hover {
    background-color: #218838;
  }
  
  #cart-items {
    list-style: none;
    padding: 0;
  }
  
  #cart-items li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ccc;
  }
  
  #cart-items li:last-child {
    border-bottom: none;
  }
  
  #cart-total {
    font-weight: bold;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 0.5s;
  }
  
  .slideInLeft {
    animation-name: slideInLeft;
    animation-duration: 0.5s;
  }
  
  @keyframes slideInLeft {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }
  